@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

/* Body */
body {
	font-family:Fira Sans;
	background: url("images/Background (Web Marialys) [Recuperado].png");
	background-size:100vw 100vh; 
	background-repeat: no-repeat;
	background-attachment: fixed;
	display:grid;
	margin-top:0px;
	margin-right: 0px;
	height:750px; 
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200px;
}
/* Container */
.container {
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	padding-top:0px;
	padding-bottom:-600px;
}
/* Navigation */
header {
	width: 100%;
	height: 50px;
	background-color: #000000;
	border-bottom: 1px solid #AB2089;
}
.logo {
    font-family:Fira Sans;
	color: #AB2089;
	font-weight: bold;
	text-align: 50px;
	width: 20%;
	float: left;
	margin-top: 15px;
	margin-left: 25px;
	letter-spacing: 4px;
}
nav {
	float: right;
	width: 50%;
	text-align: right;
	margin-right: 25px;
}
header nav ul {
	list-style: none;
	float: right;
}
nav ul li {
	float: left;
	font-family:Fira Sans;
	color: #FFFFFF;
	font-size: 14px;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
}
ul li a {
	color: #AB2089;
	text-decoration: none;
}
ul li:hover a {
	color: #004899;
}

.title{
		width: 23%;
        object-fit: contain;
        margin-bottom: 16px;
        margin-top: 40px;
		margin-left:41%;
        z-index: -300;
		font-size: 60px;
	    color: #FFFFFF;
		font-family:Ebrima;
	}

.profile-pic {
        width: 100%;
    }


    .gallery-grid {
        align-items: end;
        display: grid;
        row-gap: 80px;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 100px;
        margin-left: 60px;
        margin-bottom: 100px;
		padding-bottom: 80px;
    }

    .image {
        width: 100%;
    }

	
    .image2 {
        width: 100%;

    }


	
    .image3 {
        width: 100%;
    }

	
    .image4 {
        width: 100%;
    }


	
    .image5 {
        width: 100%;
    }
	
	

    .image6 {
        width: 100%;
    }


    .photo-block {
        width: 85%;
        background: #004899;
        color: #48CCD1;
        padding: 4px;
		text-align:center;
		font-family:Ebrima;
    }
	
	.photo-block:hover {
		transform: scale(1.15);
	}

    .photo-block2 {
        width: 85%;
        background: #004899;
        color: #48CCD1;
        padding: 4px;
		text-align:center;
		font-family:Ebrima;
    }

	.photo-block2:hover {
		transform: scale(1.15);
	}
	
    .photo-block3 {
        width: 85%;
        background: #004899;
        color: #48CCD1;
        padding: 4px;
		text-align:center;
		font-family:Ebrima;
    }

	.photo-block3:hover {
		transform: scale(1.15);
	}
	
    .photo-block4 {
        width: 85%;
        background: #004899;
        color: #48CCD1;
        padding: 4px;
		text-align:center;
		font-family:Ebrima;
    }
	
	.photo-block4:hover {
		transform: scale(1.15);
	}

    .photo-block5 {
        width: 85%;
        background: #004899;
        color: #48CCD1;
        padding: 4px;
		text-align:center;
		font-family:Ebrima;
    }

	.photo-block5:hover {
		transform: scale(1.15);
	}
	
    .photo-block6 {
        width: 85%;
        background: #004899;
        color: #48CCD1;
        padding: 4px;
		text-align:center;
		font-family:Ebrima;
    }
	
	.photo-block6:hover {
		transform: scale(1.15);
	}

.light {
	font-weight: bold;
	color: #717070;
}

.button {
	width: 200px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
	transition: all 0.3s linear;
}
.button:hover {
	background-color: #FEFEFE;
	color: #C4C4C4;
	cursor: pointer;
}

/* Mobile */
@media (max-width: 320px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom:0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	display: none;
}
header nav ul {
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
}


/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #043745;
}
header nav ul {
	padding: 0px;
	float: none;
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;

}
}
}